.header-mimetika {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em 5%;
    background-color: #095A94;
    background-image: url(https://i.postimg.cc/zB1J68SY/TEXTURA.png);
    background-attachment: fixed;
}


.nav__imagem{
    cursor: pointer;
}

.nav__list li{  
    display: inline-block;
    padding: 0 40px;
}

.nav__list li a{
    font-size: 16px;
    transition: all 0.3s ease 0s;
}
.nav__list li a:visited{
    color: #FFFFFF;
}

.nav__list li a:hover{
    color: #AFCA15;
}

#header-botao{
    padding: 1em 1.2em;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

#header-botao:hover{
    background-color: #FFFFFF;
    color: #095A94;
    transition: all 0.3s ease 0s;
}


/* css menu hamburguer    */

/* css menu hamburguer fim*/

@media screen and (max-width:1000px){
    .nav__list li{      
        padding: 0 20px;
    }


}

@media screen and (max-width:850px){
    .nav__list{
        display: none;
    }

    #header-botao{
        display: none;
    }

    .header-mimetika{
        justify-content: center;
    }
    
}