.hero-area{
    display: flex;
    padding: 5em 0 3em 0;
    justify-content: space-evenly;
    background-color: var(--azul-secundario);
    background-image: url(https://i.postimg.cc/zB1J68SY/TEXTURA.png);
    background-attachment: fixed;
    overflow-x: hidden;
}


.hero-area-h2{
    font-size: 48px;
    font-weight: 300;
    max-width: 15ch;
    margin-bottom: 1.2em;
    color: white;    
}

.totem-and-tv{
    position: relative;
}

.totem-hero-img{
    width: 300px;
    height: 450px;
    position: absolute;    
    left: 350px;
    top: -70px;
}

.btn-fale-conosco{
    background-color: #AFCA15;
    padding: 1.3em 1em;
    border-radius: 10px;
}

.btn-fale-conosco:hover{
    background-color: #FFFFFF;
    color: #AFCA15;
}


@media screen and (max-width:1350px){
    .totem-hero-img{
        height: 400px;
        left: 250px;
    }

    .tv-hero-img{
        width: 500px;
    }

    .hero-area-text{
        padding-top: 0;
    }


    .informacoes__texto-h2 {
        font-size: 36px;
        margin-bottom: 2em;
    }
}

@media screen and (max-width:1100px){
    .totem-hero-img{
        height: 260px;
        left: 175px;
        top: -30px;
    }

    .tv-hero-img{
        width: 380px;
    }

    .informacoes__texto-h2 {
        font-size: 30px;
        margin-bottom: 2em;
    }
}

@media screen and (max-width:900px){
    .totem-hero-img{
        height: 200px;
        left: 80px;
        top: -30px;
    }

    .tv-hero-img{
        width: 280px;
    }

    .informacoes__texto-h2 {
        font-size: 22px;
        margin-bottom: 2em;
    }
}

@media screen and (max-width:700px){
    
    .hero-area{
        flex-direction: column-reverse;
        align-items: center;
        padding: 1em 0 2em 0;
    }

    .totem-hero-img{
        height: 200px;
        top: -20px;
    }


    .tv-hero-img{
        width: 280px;
        margin-bottom: 2em;
    }

    .informacoes__texto-h2 {
        font-size: 22px;
        margin-bottom: 2em;
    }
}